a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
html {
    overflow: hidden;
}
body, html {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;

    background-color: black;
    color: white;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.section {
    width: 100%;
    height: 100%;
    position: relative;
}

/* poster1*/
/* ------------------------------------------------------------------- */
#page1 {
    overflow: hidden;
}
.containerText {
    width: 30%;
    float: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.containerText > p {
    font-size: 39px;
    font-weight: 700;
}
.containerText > p:nth-child(2) {
    font-size: 25px;
    font-weight: 300;
    margin-top: 15px;
}
.containerImg {
    position: relative;
    height: 100%;
    width: 60%;
    float: right;
    border-radius: 530px 0 0 530px;
    overflow: hidden;
}
.containerImg > img {
    height: 100%;
}

/* poster2 */
/* ------------------------------------------------------------------- */
#page2 {
    overflow: hidden;
}

/* poster3 */
/* ------------------------------------------------------------------- */
#page3 {
    overflow: hidden;
}

/* poster4 */
/* ------------------------------------------------------------------- */
#page4 {
    overflow: hidden;
}

/* poster5 */
/* ------------------------------------------------------------------- */
#page5 {
    overflow: hidden;
}

/* poster6 */
/* ------------------------------------------------------------------- */
#page6 {
    overflow: hidden;
}

/* poster7 */
/* ------------------------------------------------------------------- */
#page7 {
    overflow: hidden;
}

/* poster8*/
/* ------------------------------------------------------------------- */
#page8 {
    overflow: hidden;
}

/* poster9 */
/* ------------------------------------------------------------------- */
#page9 {
    overflow: hidden;
}

/* poster9 */
/* ------------------------------------------------------------------- */
#page10 {
    overflow: hidden;
}